[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git@github.com:gavrie/vim-vividchalk.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/simplenote"]
	path = bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "bundle/session.vim"]
	path = bundle/session.vim
	url = https://github.com/vim-scripts/session.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
