[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git@github.com:gavrie/vim-vividchalk.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/simplenote"]
	path = bundle/simplenote
	url = https://github.com/mrtazz/simplenote.vim.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "bundle/session.vim"]
	path = bundle/session.vim
	url = https://github.com/vim-scripts/session.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/confluencewiki"]
	path = bundle/confluencewiki
	url = https://github.com/vim-scripts/confluencewiki.vim.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/evervim"]
	path = bundle/evervim
	url = https://github.com/kakkyz81/evervim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
